body {
    text-align: center;
}

.barra {
    width: 500px;
    height: 30px;
    border-radius: 20px;
    box-shadow:rgb(57, 57, 57);
    display: block;
    border: none;
    margin: 0 auto;

    
}
body img {
    width: 400px;
    text-align: center;

    
}
.googlesearch {
    width: 90px;
    height: 20px;
    margin-top: 20px;
}
.imfelling {
    width: 90px;
    height: 20px;
    margin-top: 20px;
}